.Product {
  /* display: block; */
  vertical-align: middle;
  transform: translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  /* backface-visibility: hidden; */
  /* background: #bfbfbf */
  box-shadow: 10px 5px 40px 20px darken(#341cac, 5%);
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  width:280px;
  margin: 60px auto;
  transition: .25s;
  }

.Product:hover,
.Product:focus,
.Product:active {
  box-shadow: 10px 5px 40px 20px darken(#341cac, 10%);
  cursor: pointer;
  transform: scale(1.1);
}
  
  .Product__title {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    opacity: 0.7;
  }
  
  .Product__price {
    text-align: center;
    display: block;
    font-size: 1.1rem;
    opacity: 0.5;
    margin-bottom: 0.4rem;
  }
  
  .Product__quantity {
    display: block;
    width: 15%;
    margin-bottom: 10px;
  }

  .button_align {
    position: relative;
    /* right: 0;
    bottom: 0; */
    /* text-align: center; */
  }

  .button {
    position: relative;
    bottom: -50px;
    right: -30px;
    background-color: #2752ff;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 10px 17px;
    cursor: pointer;
  }
  
  .button:hover,
  .button:focus {
    background-color: #222222;
  }
  
  .button:disabled {
    background: #bfbfbf;
    cursor: not-allowed;
  }