.Product {
    flex: 0 1 31%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
    border-style: solid;
    border-width: 1px;
    background: whitesmoke;
    opacity: 0.9;
  }
  
  .Product__title {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    opacity: 0.7;
  }
  
  .Product__price {
    text-align: center;
    display: block;
    font-size: 1.1rem;
    opacity: 0.5;
    margin-bottom: 0.4rem;
  }
  
  .Product__quantity {
    display: block;
    width: 15%;
    margin-bottom: 10px;
  }

  .button {
    background-color: #2752ff;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 10px 17px;
    cursor: pointer;
  }
  
  .button:hover,
  .button:focus {
    background-color: #222222;
  }
  
  .button:disabled {
    background: #bfbfbf;
    cursor: not-allowed;
  }