
 
 /* BASE APP
  * ============================== */
 .App__header {
   background-color: #222;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/header.jpg");
   height: 50%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   color: white;
   padding: 10px 10px;
 }
 
 .App__nav{
   width: 100%;
   list-style: none;
 }
 
 .App__customer_actions {
   float: left;
   padding: 10px;
 }
 
 .App__title {
   padding: 80px 20px;
   text-align: center;
 }

 .App__view_cart_wrapper {
   float: right;
 }
 
 .App__view_cart {
   font-size: 15px;
   border: none;
   background: none;
   cursor: pointer;
   color: white;
 }
 
 .button {
   background-color: #2752ff;
   color: white;
   border: none;
   font-size: 1.2rem;
   padding: 10px 17px;
   cursor: pointer;
 }
 
 .button:hover,
 .button:focus {
   background-color: #222222;
 }
 
 .button:disabled {
   background: #bfbfbf;
   cursor: not-allowed;
 }
 
 .login {
   font-size: 1.2rem;
   color: #b8b8b8;
   cursor: pointer;
 }
 
 .login:hover {
   color: white;
 }
 
 .Flash__message_wrapper {
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   align-items: flex-end;
   justify-content: center;
   position: fixed;
   bottom: 0;
   pointer-events: none;
   z-index: 227;
   left: 50%;
   transform: translateX(-50%);
 }
 
 .Flash__message {
   background: rgba(0,0,0,0.88);
   border-radius: 3px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
   color: #ffffff;
   cursor: default;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: none;
   pointer-events: auto;
   position: relative;
   font-size: 20px;
   line-height: 28px;
   font-weight: 400;
   padding: 10px 20px;
   margin: 0;
 }
 
 .Flash__message_open {
   display: flex;
 }

 .About {
  text-align: left;
 }

 .Contact {
  text-align: left;
 }
 
 
 
 /* CUSTOMER AUTH
  * ============================== */
 .CustomerAuth {
   background: #2a2c2e;
   display: none;
   height: 100%;
   left: 0;
   opacity: 0;
   padding: 0 0 65px;
   top: 0;
   width: 100%;
   text-align: center;
   color: #fff;
   transition: opacity 150ms;
   opacity: 1;
   visibility: visible;
   z-index: 1000;
   position: fixed;
 }
 
 .CustomerAuth_open {
   display: block;
 }
 
 .CustomerAuth__close {
   position: absolute;
   right: 9px;
   top: 8px;
   font-size: 35px;
   color: #999;
   border: none;
   background: transparent;
   transition: transform 100ms ease;
   cursor: pointer;
 }
 
 .CustomerAuth__body {
   padding: 130px 30px;
   width: 700px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
   position: relative;
 }
 
 .CustomerAuth__heading {
   font-size: 24px;
   font-weight: 500;
   padding-bottom: 15px;
 }
 
 .CustomerAuth__credential {
   display: block;
   position: relative;
   margin-bottom: 15px;
   border-radius: 3px;
 }
 
 .CustomerAuth__input {
   height: 60px;
   padding: 24px 10px 20px;
   border: 0px;
   font-size: 18px;
   background: #fff;
   width: 100%;
 }
 
 .CustomerAuth__submit {
   float: right;
 }
 
 .error {
   display: block;
   font-size: 15px;
   padding: 10px;
   position: relative;
   min-height: 2.64286em;
   background: #fbefee;
   color: #c23628;
 }
 